<%= will_paginate %>

<table class="table">
  <thead>
    <tr><span class="index">
      <th>Maker</th>
      <th>Name</th>
      <th>Price</th>
    </span></tr>
  </thead>
  <% @digitalitems.each do |item| %>
  <tbody>
    <tr><span class="index">
      <td><%= item.maker %></td>
      <td><%= link_to item.name, digitalitem_path(item), :target=>["_blank"] %></td>
      <td><%= "¥" + item.price.to_s(:delimited) %></td>
    </span></tr>
  </tbody>
  <% end %>
</table>

<%= will_paginate %>
