<div class="pagination pagination-sm">
  <p class="text-secondary">
    <%= will_paginate @pricehists, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,:inner_window => 1 %>
  </p>
</div>

<div class="text-black text-center py-2">
  <h5 class="text-secondary">検索結果 <%= @pricehists.count %>件</h5>
</div>
<div class="text-black text-center py-1">
  <h6 class="text-secondary">日付：<%= @checkdate %> メーカー：<%= @checkmaker %>　価格帯：<%= @rangeprice %></h6>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm ">
    <thead class="table-light text-info">
      <tr>
        <th>メーカー</th>
        <th>モデル</th>
        <th>プライス</th>
      </tr>
    </thead>
    <% @pricehists.each do |item| %>
    <tbody>
      <tr>
        <td class="text-secondary"><%= item.maker %></td>
        <td><%= link_to item.name, pricehist_path(item), :target=>["_blank"] %></td>
        <td class="text-secondary"><%= "¥" + item.price.to_s(:delimited) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<div class="pagination pagination-sm">
  <%= will_paginate @pricehists, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 1 %>
</div>
