<h4 class="text-center text-secondary"><%= @Title %></h4>
<%= month_calendar do |date| %>
  <% @Summary.each do |itemsdate, itemscount| %>
    <% if date == itemsdate.to_date %>
      <%= link_to detail_pricehists_path(:item_date => itemsdate.to_date), class: 'btn btn-info' do %>
        <%= itemsdate[4,2] + "/" + itemsdate[6,2] %> <%= content_tag :span, itemscount, class: 'badge badge-danger' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
