
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#9BF; height:50px;">
    <%= link_to "楽器 Price Hist", pricehists_path, {:class => "navbar-brand"} %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav1">
      <ul class="navbar-nav">
        <li class="nav-item active"><%= link_to "Total", pricehists_path, {:class => "nav-link text-secondary"} %></li>
        <li class="nav-item"><%= link_to "Digital", pricehists_path(:item_category => "dg"), {:class => "nav-link text-secondary"} %></li>
        <li class="nav-item"><%= link_to "Effector", pricehists_path(:item_category => "ef"), {:class => "nav-link text-secondary"} %></li>
        <li class="nav-item"><%= link_to "Amp", pricehists_path(:item_category => "am"), {:class => "nav-link text-secondary"} %></li>
      </ul>
      <hr class="d-md-none border-secondary my-2">
      <form class="form-inline ml-auto">
        <label class="sr-only" for="kw">検索キーワード</label>
        <input type="search" class="form-control form-control-sm mr-sm-2 my-2 my-md-0" placeholder="キーワード" id="kw">
        <button type="submit" class="btn btn-info btn-sm my-2 my-md-0">検索</button>
      </form>
    </div>
  </nav>

  <!-- <div class="jumbotron text-white" style="background:url(P6_20180716.jpg);background-size:cover;text-shadow: 2px 2px 4px #666; height:60px;">
    <h2 class="mb-1">楽器 Price Hist</h2>
    <p>Happy people make happy food.</p>
  </div> -->
