<%= form_tag(:check_digitalitems, method: "get") do %>

<div class="py-2 row">
  <label class="col-sm-2 col-form-label">日付</label>
  <div class="col-sm-10">
    <%= select_tag(:q, options_for_select({'2018年10月05日' => 20181005, '2018年10月06日' => 20181006}), {:class => "form-control"}) %>
  </div>
</div>

<div class="py-2 row">
  <label class="col-sm-2 col-form-label">メーカー</label>
  <div class="col-sm-10">
    <%= select_tag(:m, options_from_collection_for_select(@makers, :maker, :maker, "ROLAND"), {:class => "form-control"}) %>
  </div>
</div>

<div class="py-2 row">
  <label class="col-sm-2 col-form-label">価格帯</label>
  <div class="col-sm-10">
    <%= select_tag(:p, options_for_select([['〜 ¥100,000', 100000],['¥100,000 〜 ¥300,000', 300000],
        ['¥300,000 〜 ¥500,000', 500000],['¥500,000 〜 ', 500001],['ALL', "ALL"]]), {:class => "form-control"}) %>
  </div>
</div>


<div class="row py-2">
  <label class="col-sm-2 col-form-label">新品・中古</label>
  <div class="col-sm-10">
    <%= radio_button_tag(:ty, value = "all", checked = true, options = {}) %>
    <%= label_tag :tyl, 'すべて' %>
    <%= radio_button_tag(:ty, value = "new", checked = false, options = {}) %>
    <%= label_tag :tyl, '新品' %>
    <%= radio_button_tag(:ty, value = "old", checked = false, options = {}) %>
    <%= label_tag :tyl, '中古' %>
  </div>
</div>

<div class="row py-1">
  <label class="col-sm-2 col-form-label">品名キーワード</label>
  <div class="col-sm-10">
    <%= search_field_tag(:key, "", options = {:class => "form-control"}) %>
  </div>
</div>

<div class="row py-1">
  <label class="col-sm-2 col-form-label">並び順</label>
  <div class="col-sm-10">
    <label><%= check_box_tag(:cbm, options = {:class => "form-control"}) %> メーカー</label>
    <label><%= check_box_tag(:cbp, options = {:class => "form-control"}) %> 価格</label>
  </div>
</div>

<div class="py-3">
  <button class="btn btn-info" type="submit" >Check</button>
</div>

<% end %>
